<!DOCTYPE html>
<html>
  <head>
    <title>Mobile Grid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>
  <body>
     <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Mobile Grid</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Dashboard</a></li>
              <li ><a href="/runs">Execution Log</a></li>
              <li><a href="/devices">Devices</a></li>
              <li><a href="/settings">Settings</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
     <div class="container">
          <%- body %>
     </div>
  </body>
</html>
